.stat1{
    padding: 12px;
}

.stat1 p{
    margin-right: 1rem;
}

.stat2{
    padding: 12px;
}

.stat2 p{
    margin-right: 1rem;
}

.stat3{
    padding: 12px;
}

.stat3 p{
    margin-right: 1rem;
}

.stat4{
    padding: 12px;
}

.stat4 p{
    margin-right: 1rem;
}

.stat5{
    padding: 12px;
}

.stat5 p{
    margin-right: 1rem;
}

.swampName h3{
    /* background-color: red; */
    width: 60vw;
    margin-left: 4rem;
    margin-top: 4rem;
    color: white;
}

.swampStats{
    color: black;
    font-size: 15px;
    display: flex;
    margin-top: 1rem;
    margin-left: 1.75rem;
    width: 70vw
}

.interactionBttns{
    /* background: red; */
    width: 60vw;
    margin-top: 4.5rem;
    margin-left: 2.75rem;
}

.intBttn{
    margin-left: 2rem;
    font-size: 13px;
    padding: 15px;
}
.swampBody{
    background: url('https://i.imgur.com/K7RGZhx.png');
    background-repeat: no-repeat;
    margin-left: 14rem;
    margin-top: 3rem;;
    height: 100vh;
    width: 80vw;
}

.swampBack {
    margin-left: -54rem;
    margin-top: 3rem;
    height: 5vh;
    width: 8vw;
    font-size: 16px;
}

.swampImg img{
    width: 400px;
    margin-left: -15rem;
    margin-top: 6.75rem;
    margin-bottom: 2px;
};